<h1>Our Menu</h1>
<section>
  <h3>Starters</h3>
  <div class="menu-item">
    <h5>Guac Platter</h5>
    <p></p>
  </div>
</section>
<section>
  <h3>Sides</h3>

</section>
<section>
  <h3>Burgers</h3>

</section>
<section>
  <h3>Greens &amp; Salads</h3>

</section>
<section>
  <h3>Sweets</h3>

</section>
<section>
  <section>
    <h3></h3>

  </section>
</section>
