<h1>Our Menu</h1>
<section>
  <h3>Starters</h3>
  <div class="menu-item">
    <h5>Guac Platter</h5>
    <p>Guacamole made fresh daily with Hass avocados, freshly squeezed lime juice, roma tomatoes, jalapen&#771;os, red onions, and sea salt. Topped with cojita cheese and a balsamic glaze.</p>
  </div>
  <div class="menu-item">
    <h5>Baked Buffalo Cauliflower</h5>
    <p>Cauliflower baked at 350F then tossed in buffalo sauce. Served with herb ranch.</p>
  </div>
  <div class="menu-item">
    <h5>Nachos</h5>
    <p>Made with Stone Ground Corn tortilla chips, black been puree&#769, fresh cut Cilantro, </p>
  </div>
</section>
<section>
  <h3>Sides</h3>
  <div class="menu-item">
    <h5>Baked Herb and Parmesan Fries</h5>
    <p>Idaho potatoes soaked and cut daily, tossed in italian herbs and parmesan, roasted at 350F. Served with Herb Ranch.</p>
  </div>
  <div class="menu-item">
    <h5>Baked Sweet Potato Fries</h5>
    <p></p>
  </div>
</section>
<section>
  <h3>Burgers</h3>

</section>
<section>
  <h3>Other Sandwiches</h3>
  <div class="burger-item">
    <h5>Toasted Peanut Butter &amp; Jelly</h5>
    <p>Choose from Grape, Raspberry, and Strawberry jellies. Substitute Almond Butter upon request.</p>
  </div>
</section>
<section>
  <h3>Other Entrees</h3>
  <div class="burger-item">
    <h5>Tofu Stir Fry</h5>
    <p>Brown rice. Tossed in a Thai-style peanut sauce.</p>
  </div>
  <div class="burger-item">
    <h5>Red Quinoa Chili</h5>
    <p></p>
  </div>
</section>
<section>
  <h3>Greens &amp; Salads</h3>

</section>
<section>
  <h3>Sauces</h3>
  <h6>All sauces are made in-house</h6>
  <p>Herb Ranch</p>
  <p>Honey Mustard</p>
  <p>BBQ Sauce</p>
  <p>Cajun Mayo</p>
  <p>Garlic Mayo</p>
</section>
<section>
  <h3>Sweets</h3>
  <div class="burger-item">
    <h5>Chocolate PB Balls</h5>
    <p>Peanut butter covered in dark chocholate. Dusted in sea salt and served cold.</p>
  </div>
</section>
<section>
  <section>
    <h3></h3>

  </section>
</section>
